@import url("https://fonts.googleapis.com/css2?family=Handjet:wght,ELSH@100..900,2&display=swap");


.auto-horizontal{
  position: absolute;
  bottom: -500px;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  overflow: hidden;
  z-index: 1;
  pointer-events: none;
}
.scroll-track {
  display: flex;
  width: max-content;
  animation: scrollText 18s linear infinite;
}
.scroll-track p {
  font-family: Handjet, sans-serif;
  font-size: clamp(60px, 13vw, 140px);
  white-space: nowrap;
  padding-right: 60px;
  opacity: 0.2;
  letter-spacing: 2px;
}
@keyframes scrollText {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-30%);
  }
}

@media (max-width: 580px) {

    div .auto-horizontal{
        visibility: hidden;
    }
}