section {
    scroll-margin-top: 90px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 17px 35px;
    background-color: #000000;
    color: #bbbbbb;
    max-width: 100%;
    width: fit-content;
    margin-top: 4rem;
    border-radius: 5rem;
    margin-inline: auto;
    position: relative;
    border: 1px solid #2f2f2f;
    transition: 0.3s ease;
    margin-bottom: 2rem;
    box-sizing: border-box;
}

.nav-links {
    display: flex;
    gap: 58px;
    list-style: none;
    margin: 0;
    padding: 0;
    align-items: center;
}

.nav-links a{
    text-decoration: none;
    font-size: 24px;
    transition: 0.5s;
}

.nav-links a:hover{
color: white;
}
.contact {
    background: #E4FF30;
    color: #000;
    padding: 6px 14px;
    border-radius: 50px;
    border: none;
    font-weight: 500;
    font-size: 14px;
    transition: 0.2s;
    text-decoration: none;
}
li .contact:hover {
    color: black;
    background-color: white;
}

.hamburger {
    display: none;
    background: transparent;
    border: none;
    flex-direction: column;
    gap: 4px;
    padding: 6px;
    cursor: pointer;
}
.hamburger span {
    display: block;
    width: 22px;
    height: 2px;
    background: #cfcfcf;
}

.mobile-menu {
    display: none;
}

@media (max-width: 780px) {
    .nav-links {
        display: none;
    }

    .hamburger {
        display: flex;

    }

    .contact {
        display: none;
    }

    .mobile-menu {
        display: none;
        position: absolute;
        left: -2px;
        right: -2px;
        top: calc(100% + 12px);
        background: #111;
        border-radius: 14px;
        padding: 14px;
        border: 1px solid #2f2f2f;
        box-shadow: 0 6px 20px rgba(0, 0, 0, 0.6);
        z-index: 40;
    }

    .mobile-menu.show {
        display: block;
    }

    .mobile-menu ul {
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        gap: 12px;
    }

    .mobile-menu a {
        text-decoration: none;
        font-size: 17px;
        padding: 8px 12px;
        display: block;
    }

    .mobile-menu .contact {
        display: inline-block;
        margin-top: 8px;
    }
}

