.projects-section {
  padding: 10px 6%;
  text-align: center;
}

.projects-title {
  font-size: 2.8rem;
  margin-bottom: 30px;
}



.project-card {
  display: flex;
  align-items: center;
  /* flex-wrap: wrap; */
  gap: clamp(24px, 4vw, 60px);
  background: rgba(255, 255, 255, 0.03);
  border: 1px solid rgba(255, 255, 255, 0.08);
  border-radius: 30px;
  padding: clamp(-10px, 4vw, 40px);
  padding-inline: clamp(30px, 0vw, 80px);
  backdrop-filter: blur(12px);
  justify-content: center;
}

/* IMAGE */
.project-image img {
  width: 100%;
  max-width: 520px;
  height: auto;
  display: block;
  border-radius: 20px;
  transition: 0.4s ease;
}

.project-image img:hover {
  transform: scale(1.03);
}

/* CONTENT */
.project-content {
  text-align: left;
  max-width: 520px;
width: 100%;
}

.project-content h3 {
  font-size: 2rem;
  margin-bottom: 10px;
}

.project-content p {
  opacity: 0.75;
  margin-bottom: 20px;
  line-height: 1.6;
  font-size: clamp(16px, 1.5vw, 28px);
}

/* TECH STACK */
.tech-stack {
  display: flex;
  gap: 10px;
  margin-bottom: 25px;
  flex-wrap: wrap;
}

.tech-stack span {
  background: rgba(255, 255, 255, 0.06);
  padding: 6px 14px;
  border-radius: 50px;
  font-size: 14px;
  transition: 0.5s ease;
}
.tech-stack span:hover {
    transform: translateY(-3px) scale(1.05);
}

/* BUTTONS */
.project-buttons {
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
justify-content: flex-start;
transform: 0.5s ease;
}

.project-buttons a {
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 50px;
  border: 1px solid #fff;
  transition: 0.3s ease;
}

.project-buttons a:first-child {
  background: #e7ff63;
  color: #000;
  border: none;
}
.project-buttons a:last-child:hover {
  background: white;
  color: #000;
  border: none;
}

.project-buttons a:hover {
  background: white;
}



@media (max-width: 900px) {

  .project-card {
    flex-direction: column;
    text-align: center;
  }

  .project-content {
    text-align: center;
    align-items: center;
  }

  .project-buttons {
    justify-content: center;
  }
  .tech-stack{
    justify-content: center;
  }
}
@media (max-width: 480px) {

  .projects-section {
    padding: 0px 5%;
  }

  .projects-title {
    font-size: 2rem;
  }

  .project-content h3 {
    font-size: 1.6rem;
  }

  .project-buttons a {
    width: 100%;
    text-align: center;
  }

}