html {
  scroll-behavior: smooth;
  background: #0d0a06;
  height: auto;
}
a{
  text-decoration: none;
  color: aliceblue;
  border: none;

}
.liquid-ether-container {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
  touch-action: none;
}

